
 #footer{
    width: 100%;
   }
   #footer #upper div p{
    font-size: 25px;
    color: rgb(46,49,146);
    margin-left: 15%;
    margin-top: 0;
   }
   #footer #upper{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.144);
    height: 35px;
    padding:5px;
    display: flex;
    justify-content: space-around;
   }
   #upper div{
    
    width: 400px;
   }
   #gomobile{
    margin-left:30%;
    text-align:left; 
    display: flex;
    height: 25px;
    margin-top:1px
  }
  #gomobile i{
    margin:3px;
    font-size: 25px;
    border-radius: 25px ;
  }
   #footer #middle{
    display: flex;
    justify-content: space-between;
    height: 120px;
   }
   #face i{
    color:blue;
   }
   #link i{
    color:#007AB9
   }
   #twit i{
    color:#55ACEE;
   }
   #footer #middle a{
   text-decoration: none;
   color:grey;
   }
   #footer #middle a:hover{
    color: rgb(46,49,146);
   }
   #middle p{
    font-size: 18px ;
    margin:-10px 0 6px 0;
   }
   #middle #supplies p{
    margin-bottom: 16px;
   }
   #footer #lower span{
       color:grey;
       font-size: 15px;
   }
   #lower{
    display: flex;
    justify-content:space-around;
   }
  