#selected {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

#sel-image {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    height: 400px;
    width: 400px;
}

#get-btn {
    margin-top: 60px;
    height: 60px;
    width: 290px;
    border: none;
    border-radius: 5px;
    background-color: rgb(3,113,104);
    color: white;
    font-size:x-large;
    font-weight: 700;
    cursor: pointer;
}

#get-btn :hover{
    height: 65px;
    width: 295px;
    background-color: rgb(6, 54, 50);
}
#sele-price {
    padding-left: 55px;
    
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}
#sel-div > p {
    color: grey;
    margin-top: 22px;
}
#sel-div p:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
#sel-div > h3 {
    font-size: larger;
}

#sel-div h3:hover {
    cursor:pointer;
    text-decoration: underline;
    color: blue;
}

#suppy-btn {

    color: rgb(6,128,139);
    font-weight: 700;
    font-size: larger;
    border: none;
    background-color: white;
    margin-top: 50px;
    text-decoration:underline;
    cursor: pointer;
}
/* #supply-btn:hover {
    s
} */
#sele-seller {
    /* padding-left: 10px; */
    padding: 25px 10px 10px 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
#sel-div > h5 {
    font-size: large;
    /* padding: 25px 10px 10px 10px; */
}
#sel-div h5:hover {
    cursor:pointer;
    text-decoration: underline;
    color: blue;
}

#modal-div {
    padding-left: 20px;
    
}
#modal-div > p {
line-height: 13px;
font-size: 13px;
font-weight: 400 ;
color:gray;
font-family: Arial, Helvetica, sans-serif;
}
#modal-div > h5 {
margin-top: 12px;
font-weight: 400;
font-size: 18px;
}
#modal-left {
 margin-top: 10px;
    /* width: 800px; */
    width: 30%;
}
#modal-div > img {
    margin-top: 15px;
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
}
#modal-right {
    margin-top: 35px;
    width: 70%;
    padding-left: 15px;
    margin-top: 25px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.modal-content {
    width: 800px;
    /* padding-right: 100px; */
}
#modal-flex {
    display: flex;
}
#modal-right > button {
    width: 200px;
    margin-top: 70px;
    border: none;
    height: 45px;
    background-color: rgb(0,166,153);
    color: white;
    cursor: pointer;
    padding-left: 10px;
    font-size: large;
    font-weight: 500;
}

/* #next-btn {

} */