body{
    background-image: url('https://thumbs.dreamstime.com/b/close-up-businessmen-shaking-hands-meeting-handshake-deal-business-corporate-165281340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#blackBox{
    position: absolute;
    background-color: black;
    opacity: 0.7;
    width: 20%;
    height: 200px;
    border-radius: 0 0 5px 5px;
    top:60px;
    left: 140px;
}
#row{
    position: absolute;
    background-color: black;
    color: white;
    width: 20%;
    height: 30px;
    left: 140px;
    top: 30px;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
}
#accountBox{
    position: relative;
    background-color: rgb(238,238,238);
    opacity: 0.9;
    width: 50%;
    margin: auto;
    left: 120px;
    top: 20px;
    border-radius: 10px;
}
td {
    border: 1px solid white;
    width: 60%;
}
#details, #products,#address{
    /* display: flex; */
    flex-direction: column;
    width: 95%;
    margin: auto;
    text-align: center;
}
#accountBox input{
 border: transparent;
 background-color: white;
 height: 25px;
 margin-bottom: 10px;
 width: 50%;
}
#submit3 :focus{
padding: 10px;
}